// @import './fontStyle.scss';

:root {
    --bgColor: rgb(228, 228, 228);
    --color: #000000;
    --red: #ff084a;
    --white: #ffffff;
    --black: #000000;
}

[theme="dark"] {
    --bgColor: #212121;
    --color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // background-color: var(--backgroundColor);
    color: var(--color);
    background-color: var(--bgColor);

}

// font size 

.fs-xss {
    font-size: .5rem;
}

.fs-smm {
    font-size: .8rem;
}

.fs-mdd {
    font-size: 1rem;
}

.fs-lgg {
    font-size: 1.5rem;
}

.fs-xll {
    font-size: 2rem;
}

.fs-xxl {
    font-size: 3rem;
}

// font weight
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

// color
.white {
    color: white;

}

.red {
    color: var(--red);
}

// background color
.bg-red {
    background-color: var(--red);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

// main-btn
.main-btn {
    width: 180px;  
    height: 50px;
    border: none;
    transition: all .3s ease-in-out;
}

.main-btn:hover {
    border: 2px solid var(--red);
    background: transparent;
}

.main-btn-outlined {
    width: 180px;
    height: 50px;
    border: none;
    background: transparent;
    border: 2px solid var(--red);
    transition: all .3s ease-in-out;
}
.main-btn-outlined:hover{
  
    border: none;
    background-color:var(--red) ;
    // border: 2px solid var(--red);
}

.LinkHeading{
    text-decoration: none;
    color: var(--color);
}

// common css
.cur-pointer {
    cursor: pointer;
}
.txt-center{
    text-align: center;
}

// component css

.header {
    // position: fixed;
    // top: 6px;
    // left: 0px;
    // width: 100%;
    
    // background-color: var(--bgColor);
    // z-index: 100000;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    button {
        border: none;
        background-color: var(--bgColor);
        color: var(--color);
    }


    .navList {
        list-style-type: none;
    }

    .navbar {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}



/// about parent page 

.aboutParent {
    background-image: url('../../public/tableThree.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;

}

.subParent {
    background-color: rgba(0, 0, 0, 0.696);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.aboutContent {
    width: 100%;
    height: 100%;
}

.subHeading {
    margin-top: -10px !important;

}

// bio
.bioContainer{
    width: 100%;
    height: 100vh;
    min-height: min-content;
}
.sectionHeading{
    width: max-content;
    padding: 5px;
    border-bottom: 5px solid var(--red);
    margin-bottom: 40px;

}

// skills
